[Unit]
Description=TensorFriend service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/path/to/TensorFriend/folder
ExecStart=/path/to/npm start

[Install]
WantedBy=multi-user.target