[Unit]
Description=TensorFriend service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=NPM=path/to/npm
Environment=FOLDER=path/to/tensorfriend/folder
ExecStart=$NPM start --prefix $FOLDER

[Install]
WantedBy=multi-user.target